/* The line height is 1.5*font-size of paragraph = 1.5*14pt = 21pt. So every vertically-spaced object must take up a multiple of 21pt.*/
@import url("//fonts.googleapis.com/css?family=Alegreya:400,400italic");
@import url("//fonts.googleapis.com/css?family=Alegreya SC:400,400italic");

:root{
	--text: "Alegreya", "Times New Roman", "Times", serif;
	--heading: "Alegreya SC", "Times New Roman", "Times", serif;
	--link-color: #00aaff;
	--text-color: #222;
	--bg-color: #fffaf5;
	--num-papers: 1;
	--notice-color: #ff3688;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fffaf5;
		--bg-color: #222;
	}
}

header {
	max-width: 45em;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	column-gap: 0em;
	row-gap: 0;
	align-items: center;
	justify-items: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1em;
	padding-bottom: 0;
}

header p {
	grid-column: 1;
	grid-row: 1;
	padding-right: 0.5em;
	margin-top: 0em;
	margin-bottom: 0em;
}

header ul {
	grid-column: 1;
	grid-row: 2;
	max-width: 45em;
	margin: auto;
	margin-left: 1em;
	font-family: var(--text);
	padding: 0.8em;
	color: var(--text-color);
	background: var(--bg-color);
	line-height: 1.5em;
	padding-right: 0.5em;
}

.notice {
	color: var(--notice-color);
	font-size: 1em;
	font-weight: bold;
	grid-column: 2;
	grid-row: 1 / span 2;
	border-left: 0.06em solid var(--text-color);
	height: 100%;
	padding-left: 0.5em;
}
.notice h2 {
	text-align: center;
	margin-top: 0.7em;
	margin-bottom: 0.3em;
}
.notice a {
	color: var(--notice-color);
	font-style: italic;
}

article {
	margin: 0;
	padding: 0;
}

span {
	font-family: var(--heading);
	font-variant: small-caps;
}

body {
	max-width: 45em;
	margin: auto;
	font-family: var(--text);
	font-size: 12pt;
	padding: 0.8em;
	color: var(--text-color);
	background: var(--bg-color);
	line-height: 1.5em;
}

h1, h2, h3, h4 {
	font-family: var(--heading);
	font-variant: small-caps;
	font-weight: normal;
	font-size: xx-small;
	column-span: all;
	display: block;
	text-align: left;
}

ul, ol {
	/*margin-top: 1.5em;*/
	margin-bottom: 1.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-inline-start: 1em;
}

li {
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	break-inside: avoid;
}


nav {
	padding: 0.75em 0;
	border-bottom: 0.06em solid var(--text-color);
	text-align: center;
}

nav::after {
	content: "";
	display: block;
	clear: both;
}

nav span {
	margin: 0; 
	padding: 0;
	font-weight: normal;
	font-size: 1.8em;
}

nav ul {
	margin: 0;
	padding: 0.8em 0;
}

nav li {
	display: inline-block;
	margin-right: 1em;
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--link-color);
}

p {
	font-family: var(--text);
	font-size: 1em;
	word-spacing: 0em;
	line-height: 1.5;		/* keep line-height, margin-top, and margin-bottom the same */
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h1 { /* total height: 1*2 + 1.5 + 1.5 = 5em */
	font-size: 2em;
	line-height: 1;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h2 { /* total height: 1*1.6 + 1.3 + 0.3 = 4em */
	font-size: 1.6em;
	line-height: 1;
	margin-top: 1.3em;
	margin-bottom: 0.3em;
}

h3 { /* total height: 1*1.5 + 1.3 + 0.2 = 3em */
	font-size: 1.5em;
	line-height: 1;
	margin-top: 1.3em;
	margin-bottom: 0.2em;
}

footer {
	padding-top: 1.5em;
	border-top: 0.06em solid var(--text-color);
}

footer img {
	max-width: 4em;
	display: block;
	margin: auto;
}

hr {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	color: var(--text-color);
	border-width: 0;
	border-top: 0.06em solid var(--text-color);
}

sup {
	line-height:0;
}

.rev-lists > ol {
	counter-reset: paper-counter var(--num-papers);
	counter-increment: paper-counter;
	list-style-type: none;
}
.rev-lists > ol > li {
	counter-increment: paper-counter -1;
}
.rev-lists > ol > li::marker {
	content: counter(paper-counter) ". ";
}

#refs {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.csl-left-margin {
	display: inline-block;
	margin-right: 1.5em;
}
.csl-right-inline {display: inline; }

@media (max-width: 500px) {
	body {
		font-size: 0.9em;
	}
	.notice {
		border-left: 0em;
		grid: unset;
	}
	.notice h2 {
		margin-top: 1.3em;
		margin-bottom: 0.3em;
	}
	header {
		display: block;
	}
	header p, header ul {
		grid: unset;
	}
}

@media (max-width: 400px) {
}
