/* The line height is 1.5*font-size of paragraph = 1.5*14pt = 21pt. So every vertically-spaced object must take up a multiple of 21pt.*/
@font-face{
	font-family: "Cormorant Garamond";
	src: url("/static/fonts/CormorantGaramond-Regular.ttf");
}
@font-face{
	font-family: "Cormorant Garamond";
	src: url("/static/fonts/CormorantGaramond-Italic.ttf");
	font-style: italic;
}
@font-face{
	font-family: "Cormorant Garamond";
	src: url("/static/fonts/CormorantGaramond-Bold.ttf");
	font-weight: bold;
}
@font-face{
	font-family: "Cormorant Garamond";
	src: url("/static/fonts/CormorantGaramond-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

:root{
	--text: "Cormorant Garamond", "Times New Roman", "Times", serif;
	--heading: "Cormorant Garamond", "Times New Roman", "Times", serif;
	--text-color: #222;
}

header {
	max-width: 30em;
	margin: auto;
}

article {
	column-count: auto;
	column-width: 20em;
	column-rule-style: solid;
	column-rule-width: 1px;
	column-rule-color: var(--text-color);
}


span {
	font-family: var(--heading);
	font-variant: small-caps;
}

body {
	max-width: 45em;
	margin: auto;
	font-family: var(--text);
	font-size: 14pt;
	padding: 10pt;
	color: var(--text-color);
	background: #fffaf5;
	line-height: 1.5em;
}

h1, h2, h3, h4 {
	font-family: var(--heading);
	font-variant: small-caps;
	font-weight: normal;
	column-span: all;
	display: block;
	text-align: center;
}

ul {
	/*margin-top: 1.5em;*/
	margin-bottom: 1.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

li {
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	break-inside: avoid;
}

img {
	display: block;
	max-width: 100%;	/* no bigger than the parent element */
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border-radius: 5%;
	/*for profile*/
	width: 100%;
	height: 18em;
	object-fit: cover;
}

figcaption {
	display: block;
	text-align: center;
}

nav {
	padding: 10pt 0pt;
	border-bottom: 1px solid black;
	text-align: center;
}

nav::after {
	content: "";
	display: block;
	clear: both;
}

nav span {
	margin: 0; 
	padding: 0;
	font-weight: normal;
	font-size: 24pt;
}

nav ul {
	margin: 0;
	padding: 10pt 0pt;
}

nav li {
	display: inline-block;
	margin-right: 1em;
	list-style: none;
}

a {
	text-decoration: none;
	color: #44f;
}

p {
	font-family: var(--text);
	font-size: 1em;
	word-spacing: 0em;
	line-height: 1.5;		/* keep line-height, margin-top, and margin-bottom the same */
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h1 { /* total height: 1*2 + 1.5 + 1.5 = 5em */
	font-size: 2em;
	line-height: 1;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h2 { /* total height: 1*1.8 + 1.4 + 0.8 = 4em */
	font-size: 1.8em;
	line-height: 1;
	margin-top: 1.4em;
	margin-bottom: 0.8em;
}

h3 { /* total height: 1*1.5 + 1.3 + 0.2 = 3em */
	font-size: 1.5em;
	line-height: 1;
	margin-top: 1.3em;
	margin-bottom: 0.2em;
}

hr {
	margin-top: 3em;
	border-top: 1px solid var(--text-color);
	column-span: all;
}

sup {
	line-height:0;
}
