{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<ul>
{{ range .Pages }}
  <li>
    {{ $baseurl := .Site.BaseURL }}
    {{ $page := . }}
    {{ with .Date }}
    <small>
      <span>
	{{ dateFormat "Monday, 1 Jan 2006" . }}
	{{ with $page.Params.tags }}
	  {{ range $key := . }}
	    <a href="{{ $baseurl }}/tags/{{ $key }}">{{ $key }}</a>
	  {{ end }}
	{{ end }}
      </span>
    </small>
    {{ end }}
    <h4>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ with .Params.subtitle }}
	<p><small>{{ . }}</small></p>
      {{ end }}
    </h4>
  </li>
{{ end }}
</ul>

{{ partial "footer.html" . }}
